body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000066;
}

#app {
    width: 300px; 
    margin: auto;
}

#player {
    font-size: 30px; 
    font-weight: bold;
    text-align: center;
}

.board {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.cell {
    width: 100px; 
    height: 100px; 
    border: 1px solid black;
    font-size: 28px; 
    font-weight: bolder;
}